{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2 class="page-header">Update Event</h2>
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
	</div>
	<div class="my-5"></div>

{% endblock %}
